In [50]:
import pandas as pd
import numpy as np

In [52]:
df = pd.read_csv('uci-secom - uci-secom.csv')
df

,Time,0,1,2,3,4,5,6,7,8,...,581,582,583,584,585,586,587,588,589,Pass/Fail
0,2008-07-19 11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN,-1
1,2008-07-19 12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,...,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,-1
2,2008-07-19 13:17:00,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,...,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,1
3,2008-07-19 14:43:00,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,...,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432,-1
4,2008-07-19 15:22:00,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,...,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2008-10-16 15:13:00,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,0.1248,1.3424,...,203.1720,0.4988,0.0143,0.0039,2.8669,0.0068,0.0138,0.0047,203.1720,-1
1563,2008-10-16 20:49:00,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,0.1205,1.4333,...,NaN,0.4975,0.0131,0.0036,2.6238,0.0068,0.0138,0.0047,203.1720,-1
1564,2008-10-17 05:26:00,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,0.1208,NaN,...,43.5231,0.4987,0.0153,0.0041,3.0590,0.0197,0.0086,0.0025,43.5231,-1
1565,2008-10-17 06:01:00,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,0.1213,1.4622,...,93.4941,0.5004,0.0178,0.0038,3.5662,0.0262,0.0245,0.0075,93.4941,-1
1566,2008-10-17 06:07:00,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,0.1235,NaN,...,137.7844,0.4987,0.0181,0.0040,3.6275,0.0117,0.0162,0.0045,137.7844,-1

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Columns: 592 entries, Time to Pass/Fail
dtypes: float64(590), int64(1), object(1)
memory usage: 7.1+ MB

In [56]:
df.columns

Index(['Time', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       ...
       '581', '582', '583', '584', '585', '586', '587', '588', '589',
       'Pass/Fail'],
      dtype='object', length=592)

In [58]:
# Logistic Model Before Feature Selection

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [60]:
# Dropping Time column
data = df.drop('Time', axis=1)

# Filling NaN values with random
for col in df.columns:
    print(col)

Time
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
Pass/Fail

In [64]:
# Filling NaN Values with random 
for column in data.columns:
    # print("Column- ", column)
    # Get the minimum and maximum values of the column
    min_value = data[column].min()
    max_value = data[column].max()

    # Generate random numbers within the range
    random_values = np.random.uniform(min_value, max_value, size=data[column].isnull().sum())
    
    # Create a Series with the random values
    random_series = pd.Series(random_values, index=data[column][data[column].isnull()].index)

    # Fill NaN values with the random series
    data[column] = data[column].fillna(random_series)

In [84]:
# Separate features and target
X = data.drop('Pass/Fail', axis=1)
y = data['Pass/Fail']


# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape)
print(X_test.shape)

# Initialize and train logistic regression model
log_reg = LogisticRegression(max_iter=1)  # Increase max_iter if it doesn't converge yha pe 1 iterartion me accuracy bahot achi aa rhi chaho to 100,1000 bhi kr skte ho but kyuki 1 hi iter me achi to kya matlab jaba iterartion se 
log_reg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = log_reg.predict(X_test)

# Calculate and print accuracy score
accuracy = accuracy_score(y_test, y_pred)
print("Test accuracy:", accuracy)

(1253, 590)
(314, 590)
Test accuracy: 0.9235668789808917

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

To perform filter-based feature selection on the "UCI SECOM" dataset, which has 592 columns and a target column called "Pass/Fail," we can utilize the following methods:

Duplicate Features:

Identify and remove duplicate columns from the dataset. Columns with identical values provide redundant information and do not contribute to the prediction task.
Variance Threshold Method:

Calculate the variance of each feature.
Remove features with low variance, as they tend to have little or no predictive power.
Set a threshold value for variance and remove features below that threshold.
Correlation:

Compute the correlation matrix of the features.
Identify highly correlated features and choose one from each highly correlated group.
High correlation between features indicates redundancy, and removing one from each correlated group helps reduce multicollinearity.
ANOVA (Analysis of Variance):

Perform an ANOVA test between each feature and the target variable ("Pass/Fail").
Select features with a significant impact on the target variable.
Set a significance level (e.g., p-value threshold) for the test to determine the importance of each feature.
Chi-Squared:

Apply the Chi-Squared test between each feature and the target variable, considering both features as categorical.
Select features with a significant association with the target variable.
Set a significance level (e.g., p-value threshold) to determine the importance of each feature.
Implementing these feature selection methods in Python using the "UCI SECOM" dataset can be done as follows:

In [87]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold, SelectKBest, chi2, f_classif
from scipy.stats import pearsonr

data_path = 'uci-secom - uci-secom.csv'
# Load the dataset
DATA = pd.read_csv(data_path)  # Replace with the actual filename and path

# Remove duplicate features
# Get the subset of columns with duplicate values
duplicated_cols = DATA.columns[DATA.T.duplicated()]

# Remove the duplicated columns
data = DATA.drop(columns=duplicated_cols)

# Drop time column
data.drop('Time', inplace=True, axis=1)


# Numbers Of Columns after removing Duplicate columns
print("Number of Columns - ", DATA.shape[1])
print("Number of Columns after removing duplicate columns- ", data.shape[1])

Number of Columns -  592
Number of Columns after removing duplicate columns-  487

In [89]:
# Variance Threshold Method
selector = VarianceThreshold(threshold=0.01)
sel = selector.fit(data)

columns = data.columns[sel.get_support()]

data_vt = sel.transform(data)

data_vt = pd.DataFrame(data_vt, columns=columns)

# Numbers Of Columns after Variance Threshold Method

print("Number of Columns after Variance Threshold Method- ", data_vt.shape[1])

Number of Columns after Variance Threshold Method-  315

In [91]:
# Correlation
corr_matrix = data_vt.corr().abs()
upper_tri = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool_))
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.8)]
data_corr = data_vt.drop(to_drop, axis=1)

# Numbers Of Columns after Variance Threshold Method

print("Number of Columns after Correlation- ", data_corr.shape[1])

Number of Columns after Correlation-  162

In [93]:
data_corr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Columns: 162 entries, 0 to Pass/Fail
dtypes: float64(162)
memory usage: 1.9 MB

In [95]:
# ANOVA - Approach showed in the session can't be done here
#  every rows of the dataset have some NaN values.
# ANOVA can't be applied on data having NaN values.

We can still perform ANOVA analysis by considering each column separately.

ANOVA can be applied to each column individually, comparing the target variable which is Pass/Fail column in our case against the non-missing values in that specific column.

We will drop NaN values of each column before performing the ANOVA

In [104]:
from scipy.stats import f_oneway

# Significance Value
alpha = 0.05 

# Columns haveing p_value less than alpha
column_pvalues = []

# Iterate over each column
for column in data_corr.iloc[:, :-1].columns:
    # Extract the non-missing values in the column
    column_data = data_corr[column].dropna()
    
    # Perform ANOVA with the target variable
    anova_result = f_oneway(column_data, data_corr['Pass/Fail'])
    
    # Print the ANOVA result or perform further analysis
    print(f"Column: {column} - ANOVA p-value: {anova_result.pvalue}")

    if anova_result.pvalue <= alpha:
        column_pvalues.append((column, anova_result.pvalue))

# Selecting best 100 Features - lower p-value better feature
# Sort the column p-values in ascending order
column_pvalues.sort(key=lambda x: x[1])

# Select the top 100 columns with the lowest p-values
selected_columns = [column for column, _ in column_pvalues[:100]]

data_anova = data_corr[selected_columns+['Pass/Fail']]

print("Number of Columns after Correlation- ", data_anova.shape[1])

Column: 0 - ANOVA p-value: 0.0
Column: 1 - ANOVA p-value: 0.0
Column: 2 - ANOVA p-value: 0.0
Column: 3 - ANOVA p-value: 0.0
Column: 4 - ANOVA p-value: 0.0003805229753154665
Column: 6 - ANOVA p-value: 0.0
Column: 12 - ANOVA p-value: 0.0
Column: 14 - ANOVA p-value: 0.0
Column: 15 - ANOVA p-value: 0.0
Column: 16 - ANOVA p-value: 0.0
Column: 18 - ANOVA p-value: 0.0
Column: 19 - ANOVA p-value: 0.0
Column: 21 - ANOVA p-value: 0.0
Column: 22 - ANOVA p-value: 0.0
Column: 23 - ANOVA p-value: 0.0
Column: 24 - ANOVA p-value: 5.021119420792319e-05
Column: 25 - ANOVA p-value: 0.0
Column: 28 - ANOVA p-value: 0.0
Column: 29 - ANOVA p-value: 0.0
Column: 31 - ANOVA p-value: 0.0
Column: 32 - ANOVA p-value: 0.0
Column: 33 - ANOVA p-value: 0.0
Column: 34 - ANOVA p-value: 0.0
Column: 35 - ANOVA p-value: 0.0
Column: 37 - ANOVA p-value: 0.0
Column: 38 - ANOVA p-value: 0.0
Column: 39 - ANOVA p-value: 0.0
Column: 40 - ANOVA p-value: 0.0
Column: 41 - ANOVA p-value: 0.0
Column: 43 - ANOVA p-value: 0.0
Column: 44 - ANOVA p-value: 0.0
Column: 45 - ANOVA p-value: 0.0
Column: 47 - ANOVA p-value: 0.0
Column: 48 - ANOVA p-value: 0.0
Column: 51 - ANOVA p-value: 0.0
Column: 55 - ANOVA p-value: 0.0
Column: 59 - ANOVA p-value: 1.2552004335164544e-54
Column: 61 - ANOVA p-value: 0.0
Column: 62 - ANOVA p-value: 0.0
Column: 63 - ANOVA p-value: 0.0
Column: 64 - ANOVA p-value: 0.0
Column: 67 - ANOVA p-value: 0.023676043778288868
Column: 68 - ANOVA p-value: 0.0
Column: 71 - ANOVA p-value: 0.0
Column: 72 - ANOVA p-value: 0.0
Column: 74 - ANOVA p-value: 0.0
Column: 83 - ANOVA p-value: 0.0
Column: 88 - ANOVA p-value: 0.0
Column: 90 - ANOVA p-value: 0.0
Column: 96 - ANOVA p-value: 0.0
Column: 110 - ANOVA p-value: 0.0
Column: 111 - ANOVA p-value: 0.0
Column: 115 - ANOVA p-value: 0.0
Column: 117 - ANOVA p-value: 0.0
Column: 120 - ANOVA p-value: 0.0
Column: 122 - ANOVA p-value: 0.0
Column: 123 - ANOVA p-value: 0.0
Column: 125 - ANOVA p-value: 0.0
Column: 126 - ANOVA p-value: 0.0
Column: 128 - ANOVA p-value: 0.0
Column: 129 - ANOVA p-value: 1.0535630316652931e-20
Column: 133 - ANOVA p-value: 0.0
Column: 134 - ANOVA p-value: 0.0
Column: 135 - ANOVA p-value: 0.0
Column: 136 - ANOVA p-value: 0.0
Column: 137 - ANOVA p-value: 0.0
Column: 138 - ANOVA p-value: 0.0
Column: 139 - ANOVA p-value: 0.0
Column: 142 - ANOVA p-value: 0.0
Column: 150 - ANOVA p-value: 0.0
Column: 151 - ANOVA p-value: 1.4166449051091726e-76
Column: 158 - ANOVA p-value: 0.0
Column: 159 - ANOVA p-value: 3.873435589966139e-233
Column: 160 - ANOVA p-value: 1.3135685778323096e-263
Column: 161 - ANOVA p-value: 5.651686388148162e-260
Column: 162 - ANOVA p-value: 8.401617720519068e-164
Column: 163 - ANOVA p-value: 0.0
Column: 166 - ANOVA p-value: 0.0
Column: 167 - ANOVA p-value: 0.0
Column: 169 - ANOVA p-value: 0.0
Column: 170 - ANOVA p-value: 0.0
Column: 175 - ANOVA p-value: 0.0
Column: 177 - ANOVA p-value: 0.0
Column: 180 - ANOVA p-value: 0.0
Column: 181 - ANOVA p-value: 0.0
Column: 182 - ANOVA p-value: 0.0
Column: 183 - ANOVA p-value: 0.0
Column: 184 - ANOVA p-value: 0.0
Column: 185 - ANOVA p-value: 0.0
Column: 188 - ANOVA p-value: 0.0
Column: 195 - ANOVA p-value: 0.0
Column: 198 - ANOVA p-value: 0.0
Column: 200 - ANOVA p-value: 0.0
Column: 201 - ANOVA p-value: 0.0
Column: 208 - ANOVA p-value: 0.0
Column: 218 - ANOVA p-value: 0.0
Column: 223 - ANOVA p-value: 0.0
Column: 245 - ANOVA p-value: 5.80826161681738e-107
Column: 255 - ANOVA p-value: 0.0
Column: 268 - ANOVA p-value: 0.0
Column: 269 - ANOVA p-value: 0.0
Column: 416 - ANOVA p-value: 0.0
Column: 417 - ANOVA p-value: 0.0
Column: 418 - ANOVA p-value: 0.0
Column: 419 - ANOVA p-value: 9.552745614823107e-257
Column: 423 - ANOVA p-value: 0.0
Column: 426 - ANOVA p-value: 0.0
Column: 429 - ANOVA p-value: 2.8546782689906276e-183
Column: 432 - ANOVA p-value: 7.812152995013836e-189
Column: 433 - ANOVA p-value: 7.717688534101183e-240
Column: 438 - ANOVA p-value: 0.0
Column: 439 - ANOVA p-value: 0.0
Column: 442 - ANOVA p-value: 0.0
Column: 443 - ANOVA p-value: 0.0
Column: 444 - ANOVA p-value: 0.0
Column: 460 - ANOVA p-value: 0.0
Column: 468 - ANOVA p-value: 6.409943849569832e-267
Column: 472 - ANOVA p-value: 0.0
Column: 474 - ANOVA p-value: 0.0
Column: 476 - ANOVA p-value: 0.0
Column: 482 - ANOVA p-value: 0.0
Column: 483 - ANOVA p-value: 1.92856351133e-312
Column: 484 - ANOVA p-value: 2.61571078101574e-284
Column: 485 - ANOVA p-value: 9.761371762975727e-244
Column: 486 - ANOVA p-value: 2.6860343455175406e-303
Column: 487 - ANOVA p-value: 3.675565124765342e-238
Column: 488 - ANOVA p-value: 0.0
Column: 489 - ANOVA p-value: 0.0
Column: 491 - ANOVA p-value: 0.0
Column: 492 - ANOVA p-value: 0.0
Column: 493 - ANOVA p-value: 0.0
Column: 494 - ANOVA p-value: 4.251939667888049e-27
Column: 496 - ANOVA p-value: 0.0
Column: 499 - ANOVA p-value: 1.3626860172168723e-196
Column: 500 - ANOVA p-value: 2.2063853113344103e-170
Column: 510 - ANOVA p-value: 0.0
Column: 511 - ANOVA p-value: 8.521260175759374e-208
Column: 519 - ANOVA p-value: 7.913113072865541e-183
Column: 520 - ANOVA p-value: 1.0658612203668937e-122
Column: 521 - ANOVA p-value: 1.7490564973490379e-06
Column: 523 - ANOVA p-value: 3.9933876625832445e-35
Column: 525 - ANOVA p-value: 0.0
Column: 526 - ANOVA p-value: 0.0
Column: 539 - ANOVA p-value: 0.0
Column: 546 - ANOVA p-value: 0.0
Column: 547 - ANOVA p-value: 0.0
Column: 548 - ANOVA p-value: 0.0
Column: 549 - ANOVA p-value: 0.0
Column: 550 - ANOVA p-value: 0.0
Column: 551 - ANOVA p-value: 0.0
Column: 559 - ANOVA p-value: 0.0
Column: 562 - ANOVA p-value: 0.0
Column: 563 - ANOVA p-value: 0.0
Column: 564 - ANOVA p-value: 0.0
Column: 569 - ANOVA p-value: 0.0
Column: 570 - ANOVA p-value: 0.0
Column: 571 - ANOVA p-value: 0.0
Column: 572 - ANOVA p-value: 4.082424901870454e-40
Column: 573 - ANOVA p-value: 0.0
Column: 581 - ANOVA p-value: 2.0775704433733e-310
Column: 585 - ANOVA p-value: 2.7656e-319
Number of Columns after Correlation-  101

In [106]:
# Chi-Squared
# -> Our Data is Numerical so chi-squared can't be done.

In [108]:
# Shape of Data after Feature Selection

print("Shape - ", data_anova.shape)

# Filling NaN Values with random 
for column in data_anova.columns:
    # print("Column- ", column)
    # Get the minimum and maximum values of the column
    min_value = data_anova[column].min()
    max_value = data_anova[column].max()

    # Generate random numbers within the range
    random_values = np.random.uniform(min_value, max_value, size=data_anova[column].isnull().sum())
    
    # Create a Series with the random values
    random_series = pd.Series(random_values, index=data_anova[column][data_anova[column].isnull()].index)

    # Fill NaN values with the random series
    data_anova[column].fillna(random_series, inplace=True)

    # Print
    # print(data[column].isnull().sum())


# Separate features and target
X = data_anova.drop('Pass/Fail', axis=1)
y = data_anova['Pass/Fail']



# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape)
print(X_test.shape)


# Initialize and train logistic regression model
log_reg = LogisticRegression(max_iter=10000)  # Increase max_iter if it doesn't converge
log_reg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = log_reg.predict(X_test)

# Calculate and print accuracy score
accuracy = accuracy_score(y_test, y_pred)
print("Test accuracy:", accuracy)

Shape -  (1567, 101)
(1253, 100)
(314, 100)

C:\Users\HP\AppData\Local\Temp\ipykernel_23112\1039137554.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_anova[column].fillna(random_series, inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23112\1039137554.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_anova[column].fillna(random_series, inplace=True)

Test accuracy: 0.910828025477707

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(